<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<h1>自分に合うお店を見つけよう！</h1>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="section">
  <div class="grid">
    <div class="item">
      <div class="item__details">
    <%= link_to("ゲストログイン", "/guest_login", {method: "post", class: "item__details"}) %>
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        ログイン
        <%= f.label :メールアドレス %>
        <%= f.email_field :email %>
        <br>
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
        <%= f.submit "Log in" %>
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        <%= link_to("ゲスト管理者", "/admin_guest_login", {method: "post", class: "item__details"}) %>
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        <%= link_to("ユーザー新規登録", "/users/new", { class: "item__details"}) %>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">

      </div>
    </div>
    <div class="item">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">

      </div>
    </div>
    <div class="item">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">

      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">

      </div>
    </div>
    <div class="item">
      <div class="item__details">

      </div>
    </div>
  </div>
</div>
<% end %>
