<h1>

  <% @stores.each do |store| %>
    <% if store.user_id ==current_user.id %>
      <td><%= store.name %></td>
      <td><%= store.addres %></td>
      <td><%= store.phone_number %></td>
      <td><%= store.profile %></td>
      <td>
        <%= link_to 'お店の詳細', store_path(store) %>/
        <%= link_to 'お店の編集', edit_store_path(store) %>/
        <%= link_to 'お店の削除', store, method: :delete,data:{confirm:"本当に削除してよろしいでしょうか？"} %>
      </td>
    <% end %>
  <% end %>




<% if current_user.status != "店舗" %>

<div class="container-fruid">
  <table class="table table-striped">
    <tr>
      <th>店舗名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>プロフィール</th>
      <th>お店管理者</th>
      <th colspan="3"></th>
    </tr>
    <tbody>
      <% @stores.each do |store| %>
        <tr class= "tr_list">
          <td><%= store.name %></td>
          <td><%= store.addres %></td>
          <td><%= store.phone_number %></td>
          <td><%= store.profile %></td>
          <td><%= store.user.name %></td>
          <td><%= link_to '管理者にメッセージ', conversations_path(sender_id:current_user.id,recipient_id:store.user_id),method: :post%></td>
          <td><%= link_to 'お店の詳細', store %></td>
            <% if @favorites.find_by(id: store.id) %>
              <i class="fas fa-heart"></i>
            <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="search_form">
  <%= search_form_for @q do |f| %>
    <%= f.label :how_to_work, "働き方" %>
    <%= f.select :how_to_work_eq, Store.how_to_works.map{|k,v| [Store.how_to_works_i18n[k],v]} %>
    <%= f.submit "検索1" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :how_to_earn, "稼ぎ方" %>
    <%= f.select :how_to_earn_eq, Store.how_to_earns.map{|k,v| [Store.how_to_earns_i18n[k],v]} %>
    <%= f.submit "検索2" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :treatment, "募集待遇" %>
    <%= f.select :treatment_eq, Store.treatments.map{|k,v| [Store.treatments_i18n[k],v]} %>
    <%= f.submit "検索3" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :go_to_work, "行き方" %>
    <%= f.select :go_to_work_eq, Store.go_to_works.map{|k,v| [Store.go_to_works_i18n[k],v]} %>
    <%= f.submit "検索4" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :skill, "スキル" %>
    <%= f.select :skill_eq, Store.skills.map{|k,v| [Store.skills_i18n[k],v]} %>
    <%= f.submit "検索5" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :salary, "給与" %>
    <%= f.select :salary_eq, Store.salaries.map{|k,v| [Store.salaries_i18n[k],v]} %>
    <%= f.submit "検索6" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :time_zone, "時間帯" %>
    <%= f.select :time_zone_eq, Store.time_zones.map{|k,v| [Store.time_zones_i18n[k],v]} %>
    <%= f.submit "検索7" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :atmosphere, "雰囲気" %>
    <%= f.select :atmosphere_eq, Store.atmospheres.map{|k,v| [Store.atmospheres_i18n[k],v]} %>
    <%= f.submit "検索8" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :age_group, "年齢層" %>
    <%= f.select :age_group_eq, Store.age_groups.map{|k,v| [Store.age_groups_i18n[k],v]} %>
    <%= f.submit "検索9" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :station_on_foot, "駅から歩いて何分" %>
    <%= f.select :station_on_foot_eq, Store.station_on_foots.map{|k,v| [Store.station_on_foots_i18n[k],v]} %>
    <%= f.submit "検索10" %>
  <% end %>
  <%= search_form_for @q do |f| %>
    <%= f.label :age_group, "県名" %>
    <%= f.select :prefecture_name_eq, Store.prefecture_names.map{|k,v| [Store.prefecture_names_i18n[k],v]} %>
    <%= f.submit "検索11" %>
  <% end %>
</div>

<%= paginate @stores %>
<br>
<% end %>
</h1>
