<p>マイページ <%= @user.id %></p>
<p>名前 <%= @user.name %></p>
<p>メールアドレス <%= @user.email %></p>
<p>ステータス<%= @user.status %></p>
<p>年齢 <%= @user.age %></p>
<p>住所 <%= @user.addres %></p>
<p>電話番号 <%= @user.phone_number %></p>
<% if current_user.status == "店舗" %>
  <%= link_to "店舗編集", stores_path(@user) %>
  <%= link_to '編集', edit_user_path(@user) %>
  <%= link_to '一覧', users_path(@user) %>
<% else %>
  <%= link_to '編集', edit_user_path(@user) %>
  <%= link_to '一覧', users_path(@user) %>
<% end %>
